* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none
}
:root{
  --title-style: 100 35px sans-serif;
  --text-color: rgb(155, 89, 182);
  --subtitle-style: 100 21px sans-serif

}
@media screen and (max-width: 768px) {
  :root{
    --title-style:100 30px sans-serif;
    --subtitle-style: 100 16px sans-serif
  }
}
@media screen and (max-width: 425px) {
  :root{
    --title-style:100 25px sans-serif;
    --subtitle-style: 100 12px sans-serif
  }
}